* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #cde7c8;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: aqua;
  width: 800px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 70%;
  height: 250px;
}

.right {
  width: 50%;
  padding: 30px;
}

.back {
  font-size: 12px;
  color: gray;
position: relative;
top: -40px;
left: -360px;
  cursor: pointer;
}

.subtitle {
  font-size: 12px;
  color: gray;
}

.price {
  margin: 15px 0;
  font-size: 28px;
}
.heart
{
  position: relative;

  left:350px ;
  top: -20px;
}

.desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.cart {
  padding: 10px 20px;
  border: 1px solid #000;
  background: transparent;
  cursor: pointer;
}

.wish {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background: transparent;
  cursor: pointer;
}
